################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/weightSalesWebsite/FileContentIndex/1276327a-7b5d-4d9f-bb03-f289efb58496.vsidx
